body {
  margin: 0;
  padding: 0;
}

img,
picture {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
  height: 100%;
}

main {
  position: relative;
}

.cta {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
